<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Yo</a>
      <a class="breadcrumb-item" href="#">Ha</a>
      <span class="breadcrumb-item active">Haha</span>
    </nav>
    <app-post-list [posts]="posts"></app-post-list>
  </div>
</body>
</html>