<div class="alert" [ngClass]="{'alert-success':post.loveIts>0, 'alert-danger':post.loveIts<0, 'alert-primary':post.loveIts==0}" role="alert">
    <h4>{{post.title}}</h4>
    <div class="pull-right">
        {{post.created_at | date:'d/MM/yyyy, h:m:s'}}
    </div>
    <div>
        {{post.content}}
        <div>
            <br>
            <button type="button" class="btn btn-primary" (click)="loveIt(1);">Love it</button> 
            <button type="button" class="btn btn-danger" (click)="loveIt(-1);">Don't love it</button>
            <i class="fas fa-cloud"></i>
        </div>
    </div>
</div>